.dev-index-clients
  +core-head('second title', 'title', 'text', 'core-head--white dev-index-clients__head')
  .dev-index-clients__content.main
    .dev-index-clients__slider.swiper-container
      .swiper-wrapper
        .dev-index-clients__slide.swiper-slide
          img.dev-index-clients__img(src='/assets/images/clients/client_0.png', alt='brand')
        .dev-index-clients__slide.swiper-slide
          img.dev-index-clients__img(src='/assets/images/clients/client_1.png', alt='brand')
        .dev-index-clients__slide.swiper-slide
          img.dev-index-clients__img(src='/assets/images/clients/client_2.png', alt='brand')
        .dev-index-clients__slide.swiper-slide
          img.dev-index-clients__img(src='/assets/images/clients/client_3.png', alt='brand')
        .dev-index-clients__slide.swiper-slide
          img.dev-index-clients__img(src='/assets/images/clients/client_4.png', alt='brand')
        .dev-index-clients__slide.swiper-slide
          img.dev-index-clients__img(src='/assets/images/clients/client_5.png', alt='brand')
        .dev-index-clients__slide.swiper-slide
          img.dev-index-clients__img(src='/assets/images/clients/client_6.png', alt='brand')
        .dev-index-clients__slide.swiper-slide
          img.dev-index-clients__img(src='/assets/images/clients/client_7.png', alt='brand')
        .dev-index-clients__slide.swiper-slide
          img.dev-index-clients__img(src='/assets/images/clients/client_8.png', alt='brand')
    .dev-index-clients__pag.swiper-pagination
