.dev-index-reviews
  +core-head('second title', 'title', 'text', 'core-head--white dev-index-reviews__head')
  .dev-index-reviews__content.main
    .dev-index-reviews__slider.swiper-container
      .swiper-wrapper
        .dev-index-reviews__slide.swiper-slide
          .dev-index-reviews__img-wrap
            .dev-index-reviews__img
          .dev-index-reviews__description
            .dev-index-reviews__cap
              .h4.dev-index-reviews__name name
              p.text.dev-index-reviews__position position
            .dev-index-reviews__text-wrap
              p.dev-index-reviews__text.text text
            .dev-index-reviews__address-wrap
              p.text.dev-index-reviews__address address
            .dev-index-reviews__social-wrap
              a.dev-index-reviews__social
              a.dev-index-reviews__social
              a.dev-index-reviews__social
        .dev-index-reviews__slide.swiper-slide
          .dev-index-reviews__img-wrap
            .dev-index-reviews__img
          .dev-index-reviews__description
            .dev-index-reviews__cap
              .h4.dev-index-reviews__name name
              p.text.dev-index-reviews__position position
            .dev-index-reviews__text-wrap
              p.dev-index-reviews__text.text text
            .dev-index-reviews__address-wrap
              p.text.dev-index-reviews__address address
            .dev-index-reviews__social-wrap
              a.dev-index-reviews__social
              a.dev-index-reviews__social
              a.dev-index-reviews__social
    .dev-index-reviews__pag.swiper-pagination
