extends ../layouts/main.pug

block content
  include ../blocks/dev/index/banner/dev-index-banner.pug
  include ../blocks/dev/index/services/dev-index-services.pug
  include ../blocks/dev/index/products/dev-index-products.pug
  include ../blocks/dev/index/reviews/dev-index-reviews.pug
  include ../blocks/dev/news/dev-news.pug
  include ../blocks/dev/index/clients/dev-index-clients.pug
  include ../blocks/dev/contacts/dev-contacts.pug
