.dev-header
  .dev-header__content.main
    .dev-header__left
      a.dev-header__logo
        include ../../../assets/svg/logo-def.svg
        //- svg
    .dev-header__right
      ul.dev-header__menu
        li.dev-header__menu-item
          a.dev-header__menu-link.text(href='/products.html') Products
        li.dev-header__menu-item
          a.dev-header__menu-link.text(href='/services.html') Services
        li.dev-header__menu-item
          a.dev-header__menu-link.text(href='/history.html') History
        li.dev-header__menu-item
          a.dev-header__menu-link.text(href='/about.html') About
        li.dev-header__menu-item
          a.dev-header__menu-link.text(href='/contacts.html') Contacts
      .dev-header__login-wrap
        a.dev-header__login.text
          span Login
        a.dev-header__sign-up.text
          span Sign Up
      a.dev-header__btn-menu
        span
        span
        span
