* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
    // transition: 0.4s ease;
  }
}

html {
  font-size: 16px;

  @media (min-width: 1900px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) and (max-width: 1273px) {
    font-size: 14px;
  }

  @media (min-width: 358px) and (max-width: 371px) {
    font-size: 15.35px;
  }

  @media (max-width: 357px) {
    font-size: 13.65px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'NeoSansPro', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  outline: 0;
  color: #000;
  cursor: pointer;
  transition: 0.4s ease;

  div,
  p {
    transition: 0.4s ease;
  }
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  background-color: transparent;
  font-family: 'NeoSansPro', sans-serif;
  border: 0;
  border-radius: 0;
  outline: 0;
  transition: border 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: fill 0.4s ease, stroke 0.4s ease;
}

@function rem($size) {
  $remsize: $size / 16;

  @return #{$remsize}rem;
}

.main {
  max-width: rem(1100);
  margin: 0 auto;

  @media (min-width: 768px) and (max-width: 1023px) {
    max-width: rem(708);
  }

  @media (max-width: 767px) {
    width: 88%;
    max-width: rem(420);
  }

  // @media (max-width: 1023px) {
  //   max-width: rem(688);
  // }
}

.page {
  flex: 1 0 auto;
  // overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  from {
    transform: translate3d(0, -50%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
