$black: #151616;
$pink: #dc2f7f;
$pink-dark: #8e2174;
$pink-black: #695b7d;
$blueLight: #69c;
// $blueLight: #12a4bd;
$blueDark: #587495;
$blueBlack: #036;

$orange: #f4a81e;

$gray: #ced8e7;
$gray666: #666;
