.dev-index-products
  +core-head('second title', 'title', 'text', 'dev-index-products__head')
  .dev-index-products__content.main
    .dev-index-products__item
      .dev-index-products__icon
        img.dev-index-products__img(src='/assets/images/products/product_1.png', alt='product')
      .dev-index-products__description
        +h4('title', 'dev-index-products__title')
        .dev-index-products__text-wrap
          +text('text', 'dev-index-products__text')
        .dev-index-products__more-wrap
          .dev-index-products__more-line
          a.dev-index-products__more(href='#')
            span More
            span.dev-index-products__more-icon
    .dev-index-products__item
      .dev-index-products__icon
        img.dev-index-products__img(src='/assets/images/products/product_2.png', alt='product')
      .dev-index-products__description
        +h4('title', 'dev-index-products__title')
        .dev-index-products__text-wrap
          +text('text', 'dev-index-products__text')
        .dev-index-products__more-wrap
          .dev-index-products__more-line
          a.dev-index-products__more(href='#')
            span More
            span.dev-index-products__more-icon
    .dev-index-products__item
      .dev-index-products__icon
        img.dev-index-products__img(src='/assets/images/products/product_3.png', alt='product')
      .dev-index-products__description
        +h4('title', 'dev-index-products__title')
        .dev-index-products__text-wrap
          +text('text', 'dev-index-products__text')
        .dev-index-products__more-wrap
          .dev-index-products__more-line
          a.dev-index-products__more(href='#')
            span More
            span.dev-index-products__more-icon
    .dev-index-products__item
      .dev-index-products__icon
        img.dev-index-products__img(src='/assets/images/products/product_4.png', alt='product')
      .dev-index-products__description
        +h4('title', 'dev-index-products__title')
        .dev-index-products__text-wrap
          +text('text', 'dev-index-products__text')
        .dev-index-products__more-wrap
          .dev-index-products__more-line
          a.dev-index-products__more(href='#')
            span More
            span.dev-index-products__more-icon
