.dev-index-services
  +core-head('second title', 'title', 'text', 'dev-index-services__head')
  .dev-index-services__content.main
    .dev-index-services__item
      .dev-index-services__icon
      .dev-index-services__description
        +h4('title', 'dev-index-services__title')
        +text('text', 'dev-index-services__text')
    .dev-index-services__item
      .dev-index-services__icon
      .dev-index-services__description
        +h4('title', 'dev-index-services__title')
        +text('text', 'dev-index-services__text')
    .dev-index-services__item
      .dev-index-services__icon
      .dev-index-services__description
        +h4('title', 'dev-index-services__title')
        +text('text', 'dev-index-services__text')
    .dev-index-services__item
      .dev-index-services__icon
      .dev-index-services__description
        +h4('title', 'dev-index-services__title')
        +text('text', 'dev-index-services__text')
