@function rem($size) {
  $remsize: $size / 16;
  @return #{$remsize}rem;
}

$black: #333;
$dark-gray: #b3b3b3;
$gray: #f2f2f2;

$blue: #05377f;
$blueLight: #1689fc;

$grean: #6dea0a;
$black-grean: #008c00;

$red: #cb0000;
