<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="bird.jpg" alt="logo" style="width:40px;">
  </a>

  <ul class="nav navbar-nav ml-auto">
    <li><a class="nav-link" href="#" (click)="showRegistrationDialog()">Sign Up</a></li>
    <li><a class="nav-link" href="#" (click)="showLoginDialog()">Login</a></li>
  </ul>
</nav>

<app-auth
  [(registrationDisplay)]="registrationDisplay"
  [(loginDisplay)]="loginDisplay"
></app-auth>
