.dev-services
  +core-head('second title', 'title', 'text', 'dev-services__head')
  .dev-services__content.main
    .dev-services__item
      .dev-services__icon
        img.dev-services__img(src='', alt='services')
      .dev-services__description
        a.h4.dev-services__title(href='/services-detail.html') name
        .dev-services__text-wrap
          +text('text', 'dev-services__text')
        .dev-services__more-wrap
          .dev-services__more-line
          a.dev-services__more
            span All services
            span.dev-services__more-icon
        .dev-services__popup
          .dev-services__popup-list
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
          a.dev-services__popup-link.text(href='/services-detail.html') full list
    .dev-services__item
      .dev-services__icon
        img.dev-services__img(src='', alt='services')
      .dev-services__description
        a.h4.dev-services__title(href='/services-detail.html') name
        .dev-services__text-wrap
          +text('text', 'dev-services__text')
        .dev-services__more-wrap
          .dev-services__more-line
          a.dev-services__more
            span All services
            span.dev-services__more-icon
        .dev-services__popup
          .dev-services__popup-list
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
          a.dev-services__popup-link.text(href='/services-detail.html') full list
    .dev-services__item
      .dev-services__icon
        img.dev-services__img(src='', alt='services')
      .dev-services__description
        a.h4.dev-services__title(href='/services-detail.html') name
        .dev-services__text-wrap
          +text('text', 'dev-services__text')
        .dev-services__more-wrap
          .dev-services__more-line
          a.dev-services__more
            span All services
            span.dev-services__more-icon
        .dev-services__popup
          .dev-services__popup-list
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
          a.dev-services__popup-link.text(href='/services-detail.html') full list
    .dev-services__item
      .dev-services__icon
        img.dev-services__img(src='', alt='services')
      .dev-services__description
        a.h4.dev-services__title(href='/services-detail.html') name
        .dev-services__text-wrap
          +text('text', 'dev-services__text')
        .dev-services__more-wrap
          .dev-services__more-line
          a.dev-services__more
            span All services
            span.dev-services__more-icon
        .dev-services__popup
          .dev-services__popup-list
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
          a.dev-services__popup-link.text(href='/services-detail.html') full list
    .dev-services__item
      .dev-services__icon
        img.dev-services__img(src='', alt='services')
      .dev-services__description
        a.h4.dev-services__title(href='/services-detail.html') name
        .dev-services__text-wrap
          +text('text', 'dev-services__text')
        .dev-services__more-wrap
          .dev-services__more-line
          a.dev-services__more
            span All services
            span.dev-services__more-icon
        .dev-services__popup
          .dev-services__popup-list
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
          a.dev-services__popup-link.text(href='/services-detail.html') full list
    .dev-services__item
      .dev-services__icon
        img.dev-services__img(src='', alt='services')
      .dev-services__description
        a.h4.dev-services__title(href='/services-detail.html') name
        .dev-services__text-wrap
          +text('text', 'dev-services__text')
        .dev-services__more-wrap
          .dev-services__more-line
          a.dev-services__more
            span All services
            span.dev-services__more-icon
        .dev-services__popup
          .dev-services__popup-list
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
            .dev-services__popup-item
              .dev-services__popup-img-wrap
                img.dev-services__popup-img(src='', alt='services')
              .dev-services__popup-description
                +h5('name', 'dev-services__popup-name')
                +text('text', 'dev-services__popup-text')
          a.dev-services__popup-link.text(href='/services-detail.html') full list
