.dev-contacts
  +core-head('second title', 'title', 'text', 'dev-contacts__head')
  .dev-contacts__content.main
    .dev-contacts__col
      .dev-contacts__icon
      .dev-contacts__description
        +h4('Phone', 'dev-contacts__title') 
        a.dev-contacts__text.text(href='tel:+375292827452') +375 (29) 282-74-52
        a.dev-contacts__text.text(href='tel:+375292827452') +375 (29) 282-74-52
    .dev-contacts__col
      .dev-contacts__icon
      .dev-contacts__description
        +h4('Email', 'dev-contacts__title') 
        a.dev-contacts__text.text(href='mailto:mail@gmail.com') mail@gmail.com
        a.dev-contacts__text.text(href='mailto:mail@gmail.com') mail@gmail.com
    .dev-contacts__col
      .dev-contacts__icon
      .dev-contacts__description
        +h4('Location', 'dev-contacts__title') 
        .dev-contacts__text.text address
