<div class="container-fluid row content">
  <div class="col-sm-4">
    <div class="card sen">
      <div>
        <h2>image1</h2>
      </div>
      <div>
        Description
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card sen">
      <div>
        <h2>image2</h2>
      </div>
      <div>
        Description
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card sen">
      <div>
        <h2>image3</h2>
      </div>
      <div>
        Description
      </div>
    </div>
  </div>
</div>
