.dev-index-banner(style='background-image: url(/assets/images/banner/banner.jpg)')
  .dev-index-banner__content.main
    .dev-index-banner__items
      .dev-index-banner__item
        .dev-index-banner__item-icon
        .dev-index-banner__item-description
          +text('Имеете ИТ бизнес идею, но не знаете как начать', 'dev-index-banner__item-title')
          +text('Быстро и точно мы сделаем ИТ окружение «с нуля», полностью подходящее для нужд Вашего ИТ бизнеса', 'dev-index-banner__item-text')
      .dev-index-banner__item
        .dev-index-banner__item-icon
        .dev-index-banner__item-description
          +text('Нужен DevOps для поддержки Вашего ИТ бизнеса', 'dev-index-banner__item-title')
          +text('Вам не нужно нанимать Full-time DevOps Engineers Мы сделаем все что Вам нужно в соответствии с Вашим SLA', 'dev-index-banner__item-text')
      .dev-index-banner__item
        .dev-index-banner__item-icon
        .dev-index-banner__item-description
          +text('Нужен IT Architect для апгрейда Вашего бизнеса', 'dev-index-banner__item-title')
          +text('Нужна автоматизация и контроль над задачами', 'dev-index-banner__item-text')
      .dev-index-banner__item
        .dev-index-banner__item-icon
        .dev-index-banner__item-description
          +text('Нужна автоматизация и контроль над задачами', 'dev-index-banner__item-title')
          +text('Мы используем все самые новейшие технические новинки для работы с инфраструктурой и процессами Заказчика', 'dev-index-banner__item-text')
    .dev-index-banner__about
      +h1('All IT as Services NOW', 'dev-index-banner__about-title')
      +h3('Все услуги All IT as Services клиентам любого уровня на любом этапе их бизнеса', 'dev-index-banner__about-quote')
      +text('Решение всех вопросов с обслуживанием любых ИТ задач наших клиентов. Определение этих задач, создание и сопровождение всех задач «с нуля». Обеспечение гарантии всех проводимых работ, создаваемых и сопровождаемых проектов. Миграция или создание всего бизнеса в облачную среду со 100% отказоустойчивостью и максимальной эффективностью. Единый понятный прайс на все услуги.', 'dev-index-banner__about-text')
