.dev-footer
  .dev-footer__content.main
    a.dev-footer__logo
      include ../../../assets/svg/logo-def.svg
    .dev-footer__socials
      a.dev-footer__social
      a.dev-footer__social
      a.dev-footer__social
      a.dev-footer__social
      a.dev-footer__social
    p.dev-footer__copy.text Copyright
