.core-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(66);
  padding: 0 rem(40);
  background-color: $pink;
  transition: background 0.4s ease;
  cursor: pointer;

  @media (max-width: 1023px) {
    height: rem(50);
  }

  @media (max-width: 767px) {
    height: rem(55);
    padding: 0 rem(18);
  }

  $root: &;

  &__text {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-size: rem(16);
    letter-spacing: 0;
    text-align: center;

    @media (min-width: 1024px) and (max-width: 1273px) {
      font-size: rem(16.64);
    }

    @media (max-width: 1023px) {
      font-size: rem(14);
    }

    @media (max-width: 767px) {
      font-size: rem(16);
    }
  }

  &:hover {
    background-color: $pink-dark;
  }

  &:disabled,
  &--disabled {
    background-color: #999;
    cursor: default;
    // pointer-events: none;

    &:hover {
      background-color: #999;
    }
  }
}
